<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is my home page</h1>
<h2><%= 1+2 %></h2>
<h3><%="appu bhai".toUpperCase() %></h3>
<h4><%=['hello','king'][0] %></h4>
    <p>Lorem iiores repudiandae reiciendis suscipit fugit voluptas maxime sapiente qui nemo accusantium, adipisci iste quaerat eum. Beatae nulla necessibus?</p>
</body>
</html>